<main #main class="main" [ngClass]="activeMode ? 'darkMode' : ''">
  <header class="bg-top">
    <div class="content-container">
      <div class="header">
        <h1>todo</h1>
        <img
          src="/assets/images/icon-{{ mode }}.svg"
          (click)="changeMode()"
          alt="Icone de modo claro e escuro"
        />
      </div>

      <div class="input-box">
        <span class="circle"></span>
        <input
          type="text"
          placeholder="Create a new todo..."
          (keyup.enter)="todoVerify()"
          [(ngModel)]="value"
        />
        <span
          #priorityElement
          (click)="priority()"
          class="priority-level"
        ></span>
      </div>

      <div class="list-todo">
        <div class="item" *ngFor="let data of dataToDo">
          <div
            class="verify"
            (click)="update(data)"
            [ngClass]="data.do ? 'verifyTrue' : ''"
          >
            <img
              src="/assets/images/icon-check.svg"
              [ngClass]="data.do ? 'showImg' : ''"
            />
          </div>
          <p class="description" [ngClass]="data.do ? 'finalized' : ''">
            {{ data.description }}
          </p>
          <span
            class="priority-level"
            [ngClass]="{
              'low-priority': data.priority === 0,
              'medium-priority': data.priority === 1,
              'high-priority': data.priority === 2
            }"
          ></span>
          <img
            class="delete"
            src="/assets/images/icon-cross.svg"
            alt="Ícone de delete"
            (click)="delete(data.description)"
          />
        </div>
      </div>
      <footer class="footer">
        <span class="items-number">{{ sizeList }} items left</span>
        <button (click)="completedAll()">Complete all</button>
        <div class="actions">
          <button (click)="clear()">Clear List</button>
      </div>
      </footer>
    </div>
  </header>

  <div class="bg-bottom"></div>
</main>
