<main class="main">
  <header class="bg-top">
    <img [src]="imgUrl" alt="" />
    <div class="content-container">
      <div class="header">
        <h1>todo</h1>
        <img
          src="/assets/images/icon-{{ mode }}.svg"
          (click)="changeMode()"
          alt="Imagem de fundo To-Do"
        />
      </div>

      <div class="input-box">
          <input type="text" placeholder="Create a new todo...">
<span></span>
      </div>

      <div class="list-todo">
        <div class=""></div>
        <footer class="footer">
            <span>5 items left</span>
            <div class="actions">
                <span>All</span>
                <span>Active</span>
                <span>Completed</span>
            </div>
        </footer>
      </div>
    </div>
  </header>
  <div class="bg-bottom"></div>
</main>
