<main class="main">
  <header class="bg-top">
    <div class="content-container">
      <div class="header">
        <h1>todo</h1>
        <img
          src="/assets/images/icon-{{ mode }}.svg"
          (click)="changeMode()"
          alt="Icone de modo escuro e claro"
        />
      </div>

      <div class="input-box">
        <input
          type="text"
          placeholder="Create a new todo..."
          (keyup.enter)="saveToDo()"
          [(ngModel)]="value"
        />
        <span></span>
      </div>

      <div class="list-todo">
        <div class="item" *ngFor="let data of dataToDo">
          <span>{{ data.description }}</span>
          <img
            class="delete"
            src="/assets/images/icon-cross.svg"
            alt="Ícone de delete"
            (click)="deleteToDo(data.id)"
          />
          <img class="verify" [src]="data.do ? 'icon' : ''" (click)="changeVerify(data)" (ngClass)="data.do ? 'verifyTrue' : ''" />
        </div>
      </div>
      <footer class="footer">
        <span class="items-number">5 items left</span>
        <div class="actions">
          <span class="all">All</span>
          <span>Active</span>
          <span>Completed</span>
        </div>
        <span (click)="clearToDo()">Clear completed</span>
      </footer>
    </div>
  </header>
  <div class="bg-bottom"></div>
</main>
