.main {
  display: grid;
  grid-template-rows: 40vh 60vh;
}

.bg-top {
  position: relative;
  object-fit: cover;
  background: url(/assets/images/bg-desktop-dark.jpg) no-repeat;
  background-size: cover;
  transition: 0.3s;

  img {
    width: 150%;
    background-repeat: no-repeat;
  }
}

.bg-bottom {
  background-color: var(--darkblue);
  transition: 0.3s;
}

.content-container {
  width: 600px;
  height: 600px;
  position: absolute;
  top: 4.5em;
  left: 50%;
  transform: translateX(-50%);
  color: var(--white);

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3em;

    h1 {
      text-transform: uppercase;
      letter-spacing: 0.3cm;
    }

    img {
      width: 30px;
    }
  }

  .input-box {
    position: relative;

    input {
      width: 100%;
      padding: 1.15em 0 1em 3.5em;
      font-size: 1.1em;
      color: var(--white);
      border: none;
      border-radius: 5px;
      background-color: var(--darkblack);
      outline: none;
    }

    span {
      width: 25px;
      height: 25px;
      position: absolute;
      left: 25px;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 50%;
      border: 2px solid var(--darkgray);
    }
  }

  .list-todo {
    height: 377px;
    background-color: var(--darkblack);
    margin-top: 1.5em;
    border-radius: 5px 5px 0 0;
    overflow-x: hidden;
    overflow-y: scroll;

    .item {
      padding: 1.2em 0 1em 3.8em;
      border-bottom: 2px solid var(--darkgray);
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:hover img {
        right: 30px;
        transition: 0.3s;
        cursor: pointer;
      }

      .delete {
        width: 20px;
        position: absolute;
        right: -30px;
      }

      .verify {
        width: 25px;
        height: 25px;
        position: absolute;
        left: 25px;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
        border: 2px solid var(--darkgray);
        display: grid;
        place-items: center;
        cursor: pointer;

        &:hover {
          transition: 0.3s;
          border-color: rgba(255, 255, 255, 0.3);
        }

        img {
          display: none;
          width: 15px;
          height: 13px;
        }

        .showImg {
          display: block;
        }
      }

      .verifyTrue {
        background: linear-gradient(45deg, #57ddff, #c058f3);
      }

      .finalized {
        color: var(--gray);
        font-style: italic;
        text-decoration: line-through;
      }
    }
  }

  .footer {
    width: 100%;
    padding: 1em;
    padding-bottom: 0.8em;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--darkblack);
    position: absolute;
    bottom: 0;
    border-radius: 0 0 5px 5px;
    border-top: 2px solid var(--darkgray);

    .items-number {
      font-weight: 400;
      text-transform: none;
    }

    span {
      font-weight: 700;
      cursor: pointer;
      color: var(--gray);
      text-transform: capitalize;
    }

    span:hover {
      transition: 0.3s;
      color: var(--white);
    }

    .actions {
      display: flex;
      gap: 1.3em;

      .all {
        color: var(--blue);
      }
    }
  }
}


// DARK MODE ACTIVE
.darkMode {
  .bg-top {
    background: url(/assets/images/bg-desktop-light.jpg) no-repeat;
    background-size: cover;
  }

  .bg-bottom {
    background-color: var(--lightsatured);
  }

  .content-container {
    .input-box {
      position: relative;

      input {
        width: 100%;
        padding: 1.15em 0 1em 3.5em;
        font-size: 1.1em;
        color: var(--darkblue);
        border: none;
        border-radius: 5px;
        background-color: var(--light);
        outline: none;
      }

      span {
        width: 25px;
        height: 25px;
        position: absolute;
        left: 25px;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
        border: 2px solid var(--lightSoSatured);
      }
    }

    .list-todo {
      height: 377px;
      background-color: var(--light);
      margin-top: 1.5em;
      border-radius: 5px 5px 0 0;
      overflow-x: hidden;
      overflow-y: scroll;

      .item {
        border-bottom: 2px solid var(--lightsatured);
        color: var(--darkblack);

        .verify {
          border: 2px solid var(--lightSoSatured);

          &:hover {
            border-color: rgba(78, 77, 77, 0.6);
          }
        }

        .finalized {
          color: var(--lightdark);
        }
      }
    }

    .footer {
      background-color: var(--light);
      border-top: 2px solid var(--lightsatured);

      span {
        color: var(--lightdark);

        &:hover {
          color: var(--darkgray);
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .content-container {
    width: 90%;
    height: 600px;

    .actions {
      width: 92%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: -50px;
    }
  }
}
