<main #main class="main" [ngClass]="activeMode ? 'darkMode' : ''">
  <header class="bg-top">
    <div class="content-container">
      <div class="header">
        <h1>todo</h1>
        <img
          src="/assets/images/icon-{{ mode }}.svg"
          (click)="changeMode()"
          alt="Icone de modo escuro e claro"
        />
      </div>

      <div class="input-box">
        <input
          type="text"
          placeholder="Create a new todo..."
          (keyup.enter)="todoVerify()"
          [(ngModel)]="value"
        />
        <span></span>
      </div>

      <div class="list-todo">
        <div class="item" *ngFor="let data of dataToDo">
          <span [ngClass]="data.do ? 'finalized' : ''">{{ data.description }}</span>
          <img
            class="delete"
            src="/assets/images/icon-cross.svg"
            alt="Ícone de delete"
            (click)="delete(data.description)"
          />
          <div class="verify" (click)="update(data)" [ngClass]="data.do ? 'verifyTrue' : ''">
            <img src="/assets/images/icon-check.svg" [ngClass]="data.do ? 'showImg' : ''">
          </div>
        </div>
      </div>
      <footer class="footer">
        <span class="items-number">{{sizeList}} items left</span>
        <div class="actions">
          <button class="all">All</button>
          <button>Active</button>
          <button>Completed</button>
        </div>
        <button (click)="clear()">Clear completed</button>
      </footer>
    </div>
  </header>
  <div class="bg-bottom"></div>
</main>
