.main {
  display: grid;
  grid-template-rows: 40vh 60vh;
}
.bg-top {
  position: relative;
  background-size: cover;

  img {
    width: 100%;
    background-repeat: no-repeat;
  }
}

.bg-bottom {
  background-color: var(--darkblue);
}

.content-container {
  width: 600px;
  height: 600px;
  position: absolute;
  top: 4.5em;
  left: 50%;
  transform: translateX(-50%);
  color: var(--white);

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3em;

    h1 {
      text-transform: uppercase;
      letter-spacing: 0.3cm;
    }

    img {
      width: 30px;
    }
  }

  .input-box {
    position: relative;

    input {
      width: 100%;
      padding: 0.95em 0 0.85em 3.5em;
      font-size: 1.1em;
      color: var(--white);
      border: none;
      border-radius: 5px;
      background-color: var(--darkblack);
      outline: none;
    }

    span {
      width: 25px;
      height: 25px;
      position: absolute;
      left: 25px;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 50%;
      border: 2px solid var(--darkgray);
    }
  }

  .list-todo {
    height: 377px;
    background-color: var(--darkblack);
    margin-top: 1.5em;
    border-radius: 5px 5px 0 0;
    overflow-y: scroll;
  }

  .footer {
    width: 100%;
    padding: 1em;
    padding-bottom: 0.8em;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--darkblack);
    position: absolute;
    bottom: 0;
    border-radius: 0 0 5px 5px;
    border-top: 2px solid var(--darkgray);

    .items-number {
      font-weight: 400;
      text-transform: none;
    }

    span {
      font-weight: 700;
      cursor: pointer;
      color: var(--gray);
      text-transform: capitalize;
    }
    
    span:hover {
      transition: .3s;
      color: var(--white);
    }

    .actions {
      display: flex;
      gap: 1.3em;

      .all {
        color: var(--blue);
      }
    }
  }
}
