@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

body {
  font-size: 18px;
}

:root {
  --blue: hsl(220, 98%, 61%);
  --gradient: linear-gradient(to right, #57ddff, #c058f3);

  --light: #fafafa;
  --lightsatured: #e4e5f1;
  --lightSoSatured: #d2d3db;
  --lightdark: #9394a5;
  --dark: #484b6a;

  // Dark theme
  --darkblue: #161722;
  --darkblack: #25273c;
  --white: #fafafa;
  --gray: #4d5066;
  --darkgray: #393a4c;
}
